*{
    text-align: justify;
    background-color: gray;
    color: blue;
    font-style: italic

}

h1{
    text-align: center;
    color: black
}

blockquote{
    margin-left: 8%;
    margin-right: 8%;
}

main{
    margin-left: 1%;
    margin-right: 1%;
}

h2{
    text-align: left;
    color: green;
}



