*{
    text-align: justify;

}

h1{
    text-align: center;
}

blockquote{
    font-style: italic;
    margin-left: 8%;
    margin-right: 8%;
}

main{
    margin-left: 1%;
    margin-right: 1%;
}



